.customers-container {
    padding: 4% 2%;
}

.customers-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.customers-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 27px;
    font-weight: 600;
}

.customers-container p {
    text-align: center;
    width: 80%;
}

.customers-logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 11%;
    padding: 40px 3% 0;
}

.customers-item {
    flex-basis: 26%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.customers-item img {
    width: 100%;
    aspect-ratio: 1/0.7;
    object-fit: contain;
    padding: 20px;
}



    /*----------------MEDIA QUERYING---------------*/
@media screen and (max-width: 770px) {
    .customers-container {
        padding: 50px 4% 10px;
    }

    .customers-container h2 {
        font-size: 26px;
    }

    .customers-container p {
        width: 100%;
        text-align: left;
    }

    .customers-logo {
        gap: 8%;
        padding: 40px 0 0;
    }   

    .customers-item {
        flex-basis: 46%;
    }

    .customers-item img {
        padding: 0;
        padding: 0 10px;
    }
}