:root {
    --main-color: #ffffff;
    --whiter-color: #fbfbfb;
    --white-color: #ffffff;
    --lighter-color: #F3F2F0;
    --primary-color: #48B6B4;
    --secondary-color: #2A8A89;
    --minor-color: #2CF8EF;
    --light-green: #A0E6E3;
    --charcoal-black: #333333;
    --button-color: #FFA500;
    --orange-color: #ff5e00;
    --dark-blue: #1C3D5A;
    --gray-color: #c3c3c3;
    --black-color: #000000;
    --green-color: #008000;
    --greenish-color: #00AA00;
    --blueish-color: #094bff;
    --blue-color: #0000ff;

    --darkblue-color: #1D2756;
    --transparent-orange: #ff5e0090;

    --swiper-background: #04605ea9;
    --swiper-background-1: #1c3d5abc;
    --swiper-background-red: #2f2e2eb6;

    --box-shadow: 0.5px 0.5px 5px 0px rgba(0,0,0,0.5);
}

.layout-component {
    width: 100vw;
    min-height: 100vh;
    background: #b6b6b6;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.layoutContainer {
    width: 100vw;
    max-width: 1440px;
    overflow-x: hidden;
    background: var(--main-color);
}

.footer {
    padding: 0 3%;
    background: linear-gradient(120deg, #193751, 35%, #0b263d);
}

.general-header h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: 600;
}



/*--------------MEDIA QUERY AND SCREEN--------------*/
@media screen and (max-width: 770px){
    .layout-component {

        /* highlighting */
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}